[build]
 command = 'npm run build'
 publish = '/dist'
 functions = './functions'

[[redirects]]
 from = '/api/tasks/:id'
 to = '/.netlify/functions/tasks'
 status = 200

[[redirects]]
 from = '/api/*'
 to = '/.netlify/functions/:splat'
 status = 200

[[redirects]]
 from = '/*'
 to = '/index.html'
 status = 200